<a href="https://colab.research.google.com/github/AnandaTryMuhtiga/praktikum-basis-data/blob/main/Bab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ðŸ“ 4.2 TEST AWAL â€“ DDL (ALTER, MODIFY, DROP, RENAME)

Jawablah pertanyaan berikut berdasarkan skema order entry pada Bab 3.


---

1. Contoh penggunaan ALTER dan MODIFY dalam satu sintaks

Perintah ALTER TABLE digunakan untuk mengubah struktur tabel. Salah satu penggunaannya adalah mengubah tipe data suatu kolom dengan MODIFY.

ALTER TABLE customer
MODIFY nama_customer VARCHAR(100);

Contoh lain: menambahkan kolom baru sekaligus melakukan perubahan tipe data pada kolom lain.

ALTER TABLE customer
ADD email VARCHAR(50),
MODIFY nama_customer VARCHAR(150);


---

2. Contoh penggunaan DROP TABLE

Perintah DROP TABLE digunakan untuk menghapus tabel beserta seluruh datanya.

DROP TABLE order_detail;


---

3. Contoh penggunaan RENAME TABLE

Perintah ini dipakai untuk mengganti nama tabel yang sudah ada.

RENAME TABLE orders TO transaksi;

> Jika ingin versi yang lebih lengkap dengan cover, heading bab, atau dibuat seperti modul resmi, tinggal bilang saja.




---

ðŸ“˜ 4.3.1 Mengubah Struktur Tabel (DDL â€“ ALTER TABLE)

Perintah ALTER TABLE memungkinkan kita melakukan empat jenis perubahan terhadap struktur tabel dalam database, yaitu:

1. Mengubah nama field/kolom


2. Mengubah tipe data kolom


3. Menambahkan kolom baru


4. Menghapus kolom



Penjelasan tiap bagian sebagai berikut:


---

1. Mengubah Nama Field

Perintah CHANGE digunakan untuk mengganti nama kolom lama menjadi nama kolom baru.
Catatan penting: pada sintaks CHANGE, kita harus menuliskan tipe data kolom meskipun tipe datanya tidak berubah.

Sintaks:

ALTER TABLE Nama_Table
CHANGE Nama_Field_Lama Nama_Field_Baru Tipe_Data(Size);

Contoh:

ALTER TABLE Mahasiswa
CHANGE Nama Nama_Mhs CHAR(40);


---

2. Mengubah Tipe Data

Perubahan tipe data kolom dilakukan dengan perintah MODIFY.
Tidak ada perubahan nama kolom, hanya tipe datanya saja.

Sintaks:

ALTER TABLE Nama_Table
MODIFY Nama_Field Tipe_Data_Baru(Size);

Contoh:

ALTER TABLE Mahasiswa
MODIFY NIM CHAR(8);


---

3. Menambahkan Field Baru

Untuk menambah kolom baru pada tabel, digunakan perintah ADD. Kolom dapat ditempatkan di akhir tabel, atau ditentukan posisinya dengan AFTER/BEFORE jika diperlukan.

Sintaks:

ALTER TABLE Nama_Table
ADD Nama_Field_Baru Tipe_Data(Size);

Contoh:

ALTER TABLE Mahasiswa
ADD Fakultas VARCHAR(30);


4. Menghapus Field

Jika suatu kolom tidak lagi dibutuhkan, kolom tersebut dapat dihapus menggunakan DROP COLUMN.

Sintaks:

ALTER TABLE Nama_Table
DROP COLUMN Nama_Field;

Contoh:

ALTER TABLE Mahasiswa
DROP COLUMN Fakultas;



4.4 DROP â€“ Menghapus Tabel

Jika seluruh tabel ingin dihapus dari database (termasuk struktur dan isinya), gunakan perintah DROP TABLE.

Sintaks:

DROP TABLE Nama_Table;

Contoh:

DROP TABLE Mhs;